*{
	box-sizing: border-box;
}

body{
	font-family: Verdana, sans-serif;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;
}

header img{
	height: 115px;
}

h1{
	align-self: center;
}

form{
	margin-bottom: 20px;
}

fieldset{
	border: 3px solid #00A8D5;
}

legend{
	margin-bottom: 15px;
}


#submitButton{
	color: white;
	background-color: #ED1919;
	border-radius: 5px;
	padding: 8px 15px;
}

.videoContainer{
	border-bottom: 3px dotted #C2C2C2;
	margin-left: 10px;
}

.videoContainer img{
	margin-bottom: 15px;
}

.ytButton{
	width: 6%;
	padding: 8.5px;
	color: white;
	background-color: #ED1919;
	border-radius: 8px;
	display: none;
	margin-top: 15px;
}